// Breakpoints
$media-xl: 74.9375em;
$media-lg: 61.9375em;
$media-md: 47.9375em;
$media-sm: 35.9375em;
$media-xs: 30em;
// Colors
$color-primary-light: #fff;
$color-primary-dark: #292929;
$color-input: #c7c6c6;
$color-input-first: #ffd700;
$color-input-second: #d4d4d4;
$color-start: #28b449;
$color-reset: #e91818;
$color-bg: #009688;
// Fonts
$font-txt: 'Roboto', sans-serif;
