// Breakpoints
$media-xl: 74.9375em;
$media-lg: 61.9375em;
$media-md: 47.9375em;
$media-sm: 35.9375em;
$media-xs: 30em;
// Colors
$color-primary-light: #ffffff;
$color-primary-dark: #292929;
$color-input: #c7c6c6;
$color-input-first: #ffd700;
$color-input-second: #d4d4d4;
$color-start: #3f4464;
$color-reset: #e91818;
$color-bg: #F9F9F9;
// Fonts
$font-txt: "Inter", sans-serif;
